body {
  margin: 0;
  background-color: #23252C;
  align-items: center;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  height: fit-content;
  width: 320px;
  background-color: #1A1B21;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #1A1B21;
  border-radius: 10px;
}

.profileph {
  border-radius: 10px 10px 0 0;
  width: 320px;
  height: 320px;
}

.nameAndJob {
  text-align: center;
  margin: 10px;
}

.nameAndJob > h1 {
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.nameAndJob > h2 {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  color: #F3BF99;
  margin-top: -15px;
}

.site {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  color: white;
  margin: 10px
}

.button {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 250px;
  align-items: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  color: white;
}

button {
  width: 115px;
  height: 34px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: medium;
  border: none;
  border-radius: 6px;
}

.mail {
  background-color: white;
}

.linkedin {
  background-color: #5093E2;
  color: white;
}

button > img {
  margin-right: 10px;
  vertical-align:middle;
  width: 16px;
  height: 16px;
}

.about {
  margin: auto;
  width: 250px;
  margin-top: 20px;
}

.about > h1 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.about > p {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  color: white;
}

.interest {
  margin: auto;
  width: 250px;
  margin-top: 20px;
}

.interest > h1 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.interest > p {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  color: white;
}

.footer {
  margin-top: 20px;
  background-color: #161619;
  display: flex;
  justify-content: center;
  border-radius: 0 0 10px 10px;
}

.footer > img {
  vertical-align:middle;
  width: 25px;
  height: 25px;
  margin: 10px;
}

